<div>
  <form class="example-form" [formGroup]="loginForm">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="dale@example.com" formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Enter your password" type="password" formControlName="password" required>
      </mat-form-field>



      <button type="button" mat-flat-button color="primary" (click)="loginUser()">Login</button>
      <button type="button" color="primary" (click)="forgotPassword()">Forgot your password?</button>
      <button type="button" color="primary" (click)="goToRegister()">Don't you have an Acoount? Join here!</button>

    </div>

  </form>

</div>
